
body{
  background-color: black;
  color: #00FF41;
  font-family: "Cascadia Code";
  margin: 0px;
}

.parallaxEffect{
  
  background:rgba(22, 29, 37, 0.75);
  overflow: visible;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  /* width: 2px; */
}

.parallaxEffect {
  height: 100vh;
  z-index: -1;
}

:root {
  --green: #1EFF74;
}

